.center-content {
    display: flex;
    justify-content: center;
}

.login {
    margin-top: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.input-userhandle {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.li-countries {
    display:block;
}

.ul-places{
    width: 98%;
    position: absolute;
    /* left: -29px; */
    top: 46px;
    list-style: none;
    background-color: white;
}

.li-bar-place{
    margin-bottom: 10px;
    margin-bottom: 1px;
    background-color: #b1b7c170;
    width: 100%;
    padding: 5px;
}

.p-li-bar-place {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}

.place-icon-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.sidebar {
    height:100vh;
    width: 100%;
}

.li-sidebar{
    margin-bottom: 1px;
    padding: 1px;
    display: flex;
}

.card {
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 20%);
    /* transition: 0.3s; */
    width: 100%;
    background-color: #ffffff0d;
    margin-left: 6px;
    min-height: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

// .p-timestamp{
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     display: inline-block;
// }

.ul-post{
    list-style:none;
    padding-left: 0px;
}

.post-card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    min-height: 40px;
    padding: 9px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

// .post-card:hover {
//   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
// }

p {
    margin-bottom: 0px;
}

.p-username {
    display: inline-block;
    margin-left: 2px;
    color: black;
}

.p-userhandle {
    display: inline-block;
    margin-left: 2px;
    color: darkgrey;
}

.p-timestamp {
    display: inline-block;
    margin-left: 5px;
    color: darkgrey;
}

.p-place-name {
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 2px;
}

.div-comment{
    text-align: center;
    // border: 1px solid #ebebeb;
    cursor: pointer;
}

.div-comment:hover {
    background-color:  #e5e7ff;
}

.div-like{
    text-align: center;
    // border: 1px solid #ebebeb;
    cursor: pointer;
}

.div-like:hover {
     background-color:  #ffe5e5;
}

.p-label{
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #9ba0a9;
}

.selected-li-sidebar{
    background-color: #ffffff63;
}


.post-one-image, .post-two-image {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
}


.row {
    margin-left: 0px;
    margin-right: 0px;
}

// .row > *{ 
//     padding-left: 0px;
//     padding-right: 0px;
// }

.p-h6{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
}

.center-image{
    text-align: center;
    // border: 1px solid;
}

.image-margin-top{
    margin-top: 1px;
}

.form-inline{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sidenavbar{
    background-color: #ebedef;
}

.profile-background{
    background-color: #ebedef;
    padding-left: 10px;
}

.ul-sidebar {
    height: 300px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p-logo{
    display: inline;
}
.brand{
    text-align: center;
}
.sidebar-places{
    margin-left: 10px;
}

.sidebar-brand{
    background-color: white;
    color: black;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.sidebar-nav{
    background-color: white;
    color: black;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    overflow-y: hidden;
}

.sidebar-nav .nav-title{
    color: black;
}

.sidebar-nav .nav-link {
    color: black;
}

.sidebar-nav .nav-icon{
    color: black;
}

.sidebar-footer{
     background-color: white;
     color: black;
     border-right: 1px solid #ebebeb;
}

.btn {
    border: 1px solid #ebebeb;
}

.btn:hover {
    border: 1px solid #ebebeb;
}


.navbar {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ebebeb;
}

.profile-picture{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
}

.reaction-component{
    margin-top: 10px;
}

.makepost {
    width: 100px;
    margin-left: auto;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 4px;
    font-size: 13px;
}

.makepostcontainer{
    margin-top: 10px;
    width: 100%;
}

.textare-post{
    font-size: 13px;
}

.input-counter{
  width: 50px;
  border: 0px;
  font-size: 12px;
  color: #b1b7c1;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 5px;
}

.post-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 10px;
}

.textarea-post{
    width: 100%;
}

.choose-files {
    display: inline;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.div-comment-like{
    text-align: center;
    cursor: pointer;
}

.p-header{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}

.userhandle{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
}

.profilescreen{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.form-item{
    margin-bottom: 5px;
}

.img-profilescreen{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.make-comment{
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
}

.comments{
    margin-top: 10px;
    width: 90%;
    margin-left: auto;
}

.place-name{
    width: 100px;
}

.post-menu{
    margin-left: auto;
    width: 50px;
}

.commentplacename{
    width: 98%;
}

.sidebar-nav .nav-link {
    color: black;
}

.sidebar-nav .nav-link:hover {
    color: black;
    text-decoration: none;
    background: white;
}

.border-left{
    border-left: 1px solid #ebebeb;
    padding-left: 5px;
    padding-right: 5px;
}

.search-people{
    padding-left: 10px;
    margin-top: 10px;
}

.top-header{
 display: inline-block;
 font-size: 15px;
 width: auto;
 margin-bottom: 0px;
}

.logo{
    width: 50px;
    height: 50px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-top{
    display: flex;
    align-items: center;
    height: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-image{
    width: 100%;
    height: auto;
}

.places-logo{
    width: 200px;
    height: auto;
}

.container-fluid{
    padding: 0px;
}

.header.header-sticky {
    padding: 0px;
    background: #f7f7f7;
}


.form-select, .form-control {
    margin-bottom: 5px;
}

.info-missing{
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    text-align: center;
    margin-top: 90px;
}

.clickable{
    cursor: pointer;
}

body {
    overflow-x: hidden;
}

